/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$nexa: "Nexa", sans-serif;
$nexa-book: "Nexa-book", sans-serif;

$orange: #f50;
$darkOrange: #df4a00;
$darkGrey: #2d2c2c;
$lightGrey: #f8f8f8;
$mediumGrey: #a7a7a7;
$pastelBlue: #f8fbff;
$pastel: #fff6f1;

$theme-colors: (
  primary: $orange
);

$section-space: 75px;
$section-space-mb-4: 54px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Slick Carousel path */
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1164px
);

$accordion-icon-active-color: $orange;
$modal-backdrop-opacity: 0.8;
