.page-template-template-cgp-map {
  #cgp-sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  #cgp-form {
    padding: 2.5rem;
    background-color: #f4f4f4;

    .section-title {
      margin-bottom: 1.563rem;
    }
  }

  .breadcrumb {
    display: none;
  }
}
