.page-template-template-cgp-map {
  #cgp-sidebar {
    width: 100%;
  }

  .acf-map {
    position: sticky !important;
    top: 114px;
  }

  .nav-is-stuck .acf-map {
    top: 94px;
    transition: all 0.4s;
  }

  #cgp-form {
    padding: 2rem;
    background-color: #f4f4f4;

    .section-title {
      margin-bottom: 1.563rem;
    }

    button.btn.btn-primary {
      padding: 12px 25px;
    }
  }

  .breadcrumb {
    display: none;
  }
}

.nav-is-stuck .page-template-template-cgp-map .acf-map {
  top: 94px;
  transition: all 0.4s;
}
