.breadcrumb {
  position: absolute;
  z-index: 9;
  width: 100%;
  font-size: 0.75rem;
  color: $mediumGrey;
  padding: 15px 0;

  a {
    font-size: 0.75rem;
    color: $orange;

    span {
      font-size: 1.125rem;
    }
  }

  .fa-chevron-right {
    font-size: 10px;
  }

  .wrapper-icon {
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 100%;
    background-color: $orange;
  }
}
