nav.pagination {
  .nav-links {
    .page-numbers {
      display: inline-block;
      width: 32px;
      height: 32px;
      font-size: 1rem;
      color: $darkGrey;
      text-align: center;
      padding-top: 7px;
      border-radius: 3px;
      background-color: white;

      &:hover {
        color: $orange;
      }

      &.prev,
      &.next {
        color: $mediumGrey;

        &:hover {
          color: $darkGrey;
        }
      }

      &.current {
        color: white;
        background-color: $orange;

        &:hover {
          color: white;
        }
      }
    }
  }
}
