@import 'common/variables';
@import '~bootstrap/scss/bootstrap';
@import 'bootstrap';

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

@import 'common/global';
@import 'common/mixins';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/contact';
@import 'components/modal';
@import 'components/cards';
@import 'components/wp-classes';
@import 'components/mobile-menu';
@import 'components/titles';
@import 'components/accordion';
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/filters';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/footer';
@import 'layouts/pages';
@import 'layouts/posts';
@import 'layouts/tinymce';
@import 'sections/hero';
@import 'sections/block-repeater';
@import 'sections/slideshow';
@import 'sections/cta-newsletter';
@import 'sections/text';
@import 'sections/contact';
@import 'sections/title-text-cta';

@import 'select2';

@font-face {
  font-family: "Nexa-book";
  src: url("../fonts/nexa-book.woff") format("woff");
  src: url("../fonts/nexa-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/nexa-regular.woff") format("woff");
  src: url("../fonts/nexa-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/nexa-regular-italic.woff") format("woff");
  src: url("../fonts/nexa-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/nexa-bold.woff") format("woff");
  src: url("../fonts/nexa-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/nexa-extra-bold.woff") format("woff");
  src: url("../fonts/nexa-extra-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
