{
  "extends": [
    "@roots/sage/stylelint-config",
  ],
  "rules": {
    'property-no-vendor-prefix': null,
    'at-rule-no-vendor-prefix': null,
    'color-function-notation': null,
    'indentation': null,
    'at-rule-no-unknown': null,
    'font-family-name-quotes': null,
    'alpha-value-notation': null,
    'max-line-length': null,
    'declaration-block-no-redundant-longhand-properties': null,
    'selector-no-vendor-prefix': null,
    'selector-pseudo-element-colon-notation': null,
    'selector-attribute-quotes': null,
  },
}
